@charset "UTF-8";

@media screen and ( max-width: 1400px ) {
  input[type=checkbox]#gnbcheck:checked ~ .header .gnb{
    left: 0;
  }
  #mobile_close_btn{
    display: block;
  }
  #gnbbtn{ display: block; }
  #headerwrap .header .gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100%;
    background: white;
    transition: 0.5s ease-in-out;
  }
  #headerwrap .header .gnb .mainmenu{
    margin-left: 0;
  }
  #headerwrap .header .gnb ul.mainmenu{
    padding-top: 50px;
    width: 100%;
  }
  #headerwrap .header .gnb ul.mainmenu li{
    width: 100%;
    text-align: center;
  }
  #all-wrap{
    width: 100%;
  }
}

@media screen and ( max-width: 960px ) {

}

@media screen and ( max-width: 768px ){

}

@media screen and ( max-width: 480px ) {

}
