@charset "UTF-8";

@media screen and ( max-width: 1400px ) {
  .mainlogo{ padding-left: 30px;}
  input[type=checked]#gnbcheck{ display: none; }
  input[type=checkbox]#gnbcheck:checked ~ .header .gnb{ left: 0;}
  #mobile_close_btn{ display: block; }
  #gnbbtn{ display: block;}
  label{ margin-right: 30px;}
  #headerwrap .header .gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100%;
    background: white;
    transition: 0.5s ease-in-out;
  }
  #headerwrap .header .gnb .mainmenu{ margin-left: 0; }
  #headerwrap .header .gnb ul.mainmenu{
    padding-top: 150px;
    width: 100%;
  }
  #headerwrap .header .gnb ul.mainmenu li{
    width: 100%;
    text-align: center;
  }
  #all-wrap{
    width: 100%;
    margin: 0 auto;
  }
  #main-content{
    height: 800px;
  }
  #main-content .swiper-container{
    padding-top: 50px;
  }
  #second .second-menu .menu1 .menu-top{ margin-right: 0px; }
  #second .second-menu .menu1 .menu-top .menu-top01{ font-size: 20px;}
  #second .second-menu .menu1 .menu-btn span{ font-size: 15px;}
  #second .second-menu .menu1 .menu-btn p{ font-size: 12px; }
  #second .second-menu .img4{
    margin-right: 13px;
  }
  #third .item-wrap{
    position: relative;
    width: 100%;
    display: block;
  }
  #third .third-info{
    padding-right: 30px;
  }
  #third .item-wrap .item .item1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    height: 500px;
  }
  #third .item-wrap .item .item1 img{
    width: auto;
    height: 500px;
    display: inline-block;
    position: absolute;
  }
  #third .item-wrap .item .item1-txt{
    width: 50%;
    top: 57px;
    left: 50%;
    z-index: 100
  }
  #third .item-wrap .item2{
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    width: 100%;
    height: 500px;
  }

  #third .item-wrap .item2 .item2-txt{
    width: 50%;
    right: 50%;
  }
  #third .item-wrap .item2 .item2-img{
    width: auto;
    height: 500px;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 33%;
  }
  #third .item-wrap .item2 .item2-img img{
    width: auto;
    height: 500px;
    margin-top: 0;
    z-index: 50;
  }
  #fourth .swiper-slide h3{
    font-size: 24px;
  }
  #fourth .swiper-slide p{
    font-size: 30px;
  }
  #fourth{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and ( max-width: 1200px ) {
  #all-wrap{
    width: 100%;
    margin: 0 auto;
  }
  #second{
    width: 100%;
    max-height: 2000px;
    margin: 0 auto;
  }
  #second .second-info{
    margin-bottom: 100px;
  }
  #second .second-menu{
    overflow: hidden;
    position: relative;
    width: 50%;
    margin: 0 auto;
    display: block;
  }
  #second .second-menu .img1{
    margin: 0 auto;
    display: block;
    position: relative;
    height: 400px;
    width: auto;
    background-position: center;
    margin-bottom: 10px;
  }
  #second .second-menu .img2{
    margin: 0 auto;
    height: 400px;
    width: auto;
    background-position: center;
    margin-bottom: 10px;
  }
  #second .second-menu .img3{
    margin: 0 auto;
    height: 400px;
    width: auto;
    background-position: center;
    margin-bottom: 10px;
  }
  #second .second-menu .img4{
    margin: 0 auto;
    height: 400px;
    width: auto;
    background-position: center;
    margin-bottom: 10px;
  }
  #second .second-menu .menu1{
    margin: 0 auto;
    width: 100%;
    max-width: 360px;
  }
  #second .second-menu .menu1 .menu-top{
    display: block;
    margin-right: 20px;
    padding-top: 30px;
  }
  #second .second-menu .menu1 .menu-top .menu-top01{
    font-size: 26px;
  }
  #second .second-menu .menu1 .menu-top i{
    position: absolute;
    top: 30px;
    left: 93%;
  }
  #second .second-menu .menu1 .menu-btn span{
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
  }
  #third .third-info{
    padding-right: 40px;
  }
  #fourth{ margin-top: 0;}
  /* #five .main-insta .instaimg{
    width: 250px;
    height: 250px;
  } */
  #six{ max-width: 1200px;}
  #six .info-wrap .info-img img{
    width: 70%;
    max-width: 570px;
    height: 100%;
  }
  #six .info-wrap .info-text{
    /* margin-left: 50px; */
  }
  #six .info-wrap .info-alltext .fw-400{
    font-size: 16px;
  }
  #six .info-wrap .info-alltext .fs-50{
    font-size: 40px;
  }
  #six .info-wrap .info-alltext p{
    font-size: 14px;
  }
  #six .info-wrap .info-icon .info-text{
    /* margin-left: 50px; */
  }
  #footer .footer-wrap .footer-right{
    display: none;
  }
}

@media screen and ( max-width: 960px ) {
  #all-wrap{
    width: 100%;
    margin: 0 auto;
  }
  #main-content { height: 650px;}
  #first .first-sec h2{
    margin-left: 30px;
  }
  #first p:first-child{
    margin-left: 30px;
  }
  #first .first-sec .first-info p:nth-child(3){
    font-size: 15px;
    padding-left: 30px;
  }
  #first .first-sec .first-info p:nth-child(4){
    font-size: 12px;
    padding-left: 30px;
  }
  #first .first-sec{
    padding-right: 30px;
  }
  /* #second .second-menu .img1{
    left: 2%;
  }
  #second .second-menu .img2{
    left: 55%;
  }
  #second .second-menu .img3{
    left: 2%;
  }
  #second .second-menu .img4{
    left: 55%;
  } */
  #third .item-wrap .item .item1-txt{
    padding-bottom: 78px;
  }
  #third .item-wrap .item2 .item2-img{
    top: 33%;
  }
  #fourth{
    height: 550px;
  }
  #six{
    min-height: 0;
  }
  #six .info-wrap .info-img{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #six .info-wrap .info-text{
    /* width: 50%; */
  }
  #six .info-wrap .info-alltext{
    margin-right: 130px;
    margin-left: 30px;
  }
  #six .info-wrap .info-alltext .fw-400{
    font-size: 14px;
  }
  #six .info-wrap .info-alltext .fs-50{
    font-size: 35px;
  }
  #six .info-wrap .info-alltext p{
    font-size: 12px;
  }
  #six .info-wrap .info-alltext span{
    font-size: 15px;
  }
  #six .info-wrap .info-alltext span:last-child{
    font-size: 12px;
  }
  #footer .footer-wrap .footer-info .f-txt1{
    font-size: 12px;
  }
  #footer .footer-wrap .footer-info .f-txt2{
    font-size: 12px;
  }
  #footer .footer-wrap .footer-info .copyright{
    font-size: 10px;
  }
  #footer .footer-wrap .footimg img{
    width: 200px;
    height: auto;
  }
  #familysite{
    width: 170px;
    height: 50px;
  }
}

@media screen and ( max-width: 770px ){
  #all-wrap{
    width: 100%;
    margin: 0 auto;
  }
  .pt-50{
    padding-top: 0;
  }
  #main-content { height: 600px;}
  #first .first-sec{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #first{
    margin-bottom: 350px;
  }
  #first .first-img{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  #first .first-img .sec-img{
    position: absolute;
    width: 100%;
    margin-top: 40px;
  }
  #first .fs-18{
    position: relative;
    display: block;
    text-align: center;
  }
  #first .mt-20{
    position: relative;
    display: block;
  }
  #second{
    width: 100%;
    min-height: 1400px;
  }
  #second .second-menu .img1{
    position: relative;
    width: auto;
    height: 350px;
  }
  #second .second-menu .img2{
    position: relative;
    width: auto;
    height: 350px;
  }
  #second .second-menu .img3{
    position: relative;
    width: auto;
    height: 350px;
  }
  #second .second-menu .img4{
    position: relative;
    width: auto;
    height: 350px;
  }
  #second .second-menu .menu1 .menu-top{
    margin-left: 20px;
  }
  #second .second-menu .menu1 .menu-top .menu-top01{
    font-size: 22px;
  }
  #second .second-menu .menu1 .menu-btn .btn-1 a{
    font-size: 16px;
  }
  #second .second-menu .menu1 .menu-btn .btn-2 a{
    font-size: 16px;
  }
  #third{
    width: 100%;
    margin: 0 auto;
  }
  #third .third-info{
    width: 100%;
    text-align: center;
    margin-top: 150px;
    margin-left: 20px;
    padding: 0;
  }
  #third .item-wrap{
    position: relative;
    width: 50%;
    min-height: 1600px;
    display: block;
    margin-top: 100px;
    margin: 0 auto;
  }
  #third .item-wrap .item .item1{
    width: 100%;
    position: relative;
  }
  #third .item-wrap .item .item1-txt{
    position: relative;
    display: block;
    left: 0;
    width: 100%;
    padding-left: 30px;
    margin: 0 auto;
    padding-top: 0;
  }
  #third .item-wrap .item .item1-txt p:first-child{
    font-size: 18px;
  }
  #third .item-wrap .item .item1-txt p:nth-child(2){
    font-size: 28px;
  }
  #third .item-wrap .item .item1-txt ul li a{
    font-size: 14px;
  }
  #third .item-wrap .item2 .item2-txt p:first-child{
    font-size: 18px;
  }
  #third .item-wrap .item2 .item2-txt p:nth-child(2){
    font-size: 28px;
  }
  #third .item-wrap .item2 .item2-txt ul li a{
    font-size: 14px;
  }
  #third .item-wrap .item2 .item2-txt{
    position: absolute;
    display: block;
    width: 100%;
    margin-top: 160px;
    left: 0;
    right: 0;
    bottom: 0;
    top: 1100px;
    margin-left: 40px;
    padding-top: 30px;
  }
  #third .item-wrap .item .item1 img{
    width: auto;
    display: block;
    position: absolute;
    height: 400px;
    z-index: 110;
    background-position: center;
  }
  #third .item-wrap .item2 .item2-img img{
    width: auto;
    display: block;
    position: absolute;
    height: 410px;
    z-index: 110;
    background-position: center;
    margin-top: 50px;
  }
  #third .item-wrap .item2 .item2-img{
    width: 100%;
    display: block;
    position: relative;
    left: 30px;
  }
  #third .item-wrap .item2{
    display: block;
    width: 100%;
    height: auto;
  }
  #fourth{
    height: 500px;
  }
  #fourth .fourth-info{
    margin-top: 150px;
  }
  #fourth .swiper-slide h3{
    font-size: 22px;
  }
  #fourth .swiper-slide p{
    font-size: 26px;
  }
  #six .info-wrap{
    display: block;
  }
  #six .info-wrap .info-img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #six .info-wrap .info-img img{
    width: auto;
    height: 400px;
  }
  #six .info-wrap .info-text{
    text-align: left;
    display: inline-block;
  }
  #six .info-wrap .info-alltext{
    display: block;
    position: relative;
    width: 50%;
    margin: 0 auto;
    padding-top: 70px;
    text-align: center;
  }
  #six .info-wrap .info-icon .info-text{
    display: inline-block;
  }
  #six .info-wrap .info-icon{
    padding-right: 20px;
  }
  #six .info-wrap .info-icon img{
    display: inline-block;
  }
  #six .info-wrap .info-icon2 img{
    display: inline-block;
  }
  #footer .footer-wrap .mobile-foot-logo{
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: 100px;
    margin-top: 80px;
    opacity: 0.6;
  }
  #footer .footer-wrap .mobile-foot-logo img{
    width: 120px;
    height: auto;
  }
  #familysite{
    display: none;
  }
}

@media screen and ( max-width: 480px ) {
  #all-wrap{ width: 100%; margin: 0 auto;}
  #headerwrap .header .mainlogo img{
    width: 140px;
    height: auto;
  }
  #main-content{ height: 500px;}
  .pt-50{
    font-size: 36px;
  }
  .m-fs-26{
    font-size: 14px;
  }
  .mt-10{
    font-size: 12px;
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    top: 59%;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    top: 59%;
  }
  #first p:first-child{
    font-size: 14px;
  }
  #first .first-sec h2{
    font-size: 36px;
  }
  #first .first-sec .first-info p:nth-child(3){
    font-size: 12px;
  }
  #first .first-sec .first-info p:nth-child(4){
    font-size: 10px;
  }
  #first .first-sec{
    padding: 0;
  }
  #second{
    min-height: 1000px;
  }
  #second p:first-child{
    font-size: 14px;
  }
  #second .second-info h2{
    font-size: 36px;
  }
  #second .second-menu .menu1 .menu-top .menu-top01{
    font-size: 18px;
  }
  #second .second-menu .menu1 .menu-btn .btn-1 a{
    font-size: 12px;
  }
  #second .second-menu .menu1 .menu-btn .btn-2 a{
    font-size: 12px;
  }
  #second .second-menu .menu1 .menu-btn p{
    padding: 0;
  }
  #second .second-menu .menu1 .menu-btn span{
    padding-left: 0;
  }
  #second .second-menu .menu1 .menu-top i{
    left: 88%;
  }
  #second .second-menu .img1{
    width: auto;
    height: 250px;
  }
  #second .second-menu .img2{
    width: auto;
    height: 250px;
  }
  #second .second-menu .img3{
    width: auto;
    height: 250px;
  }
  #second .second-menu .img4{
    width: auto;
    height: 250px;
  }
  #third{
    width: 70%;
    margin: 0 auto;
  }
  #third .third-info p:first-child{
    font-size: 14px;
  }
  #third .third-info h2{
    font-size: 36px;
  }
  #third .third-info{
    margin-left: 0;
  }
  #third .item-wrap .item .item1 img{
    width: 100%;
  }
  #third .item-wrap .item .item1{
    width: 300px;
  }
  #third .item-wrap{
    margin: 0;
  }
  #third .item-wrap .item .item1-txt{
    width: 300px;
  }
  #third .item-wrap .item .item1-txt p:first-child{
    font-size: 16px;
  }
  #third .item-wrap .item .item1-txt p:nth-child(2){
    font-size: 24px;
  }
  #third .item-wrap .item .item1-txt ul li a{
    font-size: 12px;
  }
  #third .item-wrap .item2 .item2-img img{
    width: 100%;
    right: 10%;
  }
  #third .item-wrap .item2{
    display: flex;
    width: 300px;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #third .item-wrap .item2 .item2-img{
    width: 320px;
  }
  #third .item-wrap .item2 .item2-txt{
    width: 320px;
  }
  #third .item-wrap .item2 .item2-txt ul li::before{
    left: 0;
  }
  #third .item-wrap .item2 .item2-txt{
    text-align: left;
  }
  #third .item-wrap .item2 .item2-txt p:first-child{
    font-size: 16px;
  }
  #third .item-wrap .item2 .item2-txt p:nth-child(2){
    font-size: 24px;
  }
  #third .item-wrap .item2 .item2-txt ul li a{
    font-size: 12px;
    padding-left: 20px;
  }
  #third .item-wrap .item2 .item2-txt{
    padding-top: 20px;
  }
  #fourth .fourth-info{
    margin-top: 50px;
  }
  #six .info-wrap .info-alltext .fw-400{
    font-size: 12px;
  }
  #six .info-wrap .info-alltext .fs-50{
    font-size: 28px;
  }
  #six .info-wrap .info-icon .info-text{
    font-size: 12px;
  }
  #six .info-wrap .info-alltext span{
    font-size: 12px;
  }
  #six .info-wrap .info-icon2{
    width: 200px;
  }
}
