@charset "UTF-8";

@media screen and ( max-width: 1400px ) {
  .mainlogo{ padding-left: 30px;}
  input[type=checkbox]#gnbcheck:checked ~ .header .gnb{ left: 0;}
  #mobile_close_btn{ display: block; }
  #gnbbtn{ display: block;}
  label{ margin-right: 30px;}
  #headerwrap .header .gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    left: -100%;
    background: white;
    transition: 0.5s ease-in-out;
  }
  #headerwrap .header .gnb .mainmenu{ margin-left: 0; }
  #headerwrap .header .gnb ul.mainmenu{
    padding-top: 150px;
    width: 100%;
  }
  #headerwrap .header .gnb ul.mainmenu li{
    width: 100%;
    text-align: center;
  }
  #all-wrap{
    width: 100%;
  }
  #main-content{
    height: 800px;
  }
  #main-content .swiper-container{
    padding-top: 50px;
  }
  #second .second-menu .menu1 .menu-top{ margin-right: 0px; }
  #second .second-menu .menu1 .menu-top .menu-top01{ font-size: 20px;}
  #second .second-menu .menu1 .menu-btn span{ font-size: 15px;}
  #second .second-menu .menu1 .menu-btn p{ font-size: 12px; }
  #second .second-menu .img4{
    margin-right: 13px;
  }
  #third .item-wrap{
    position: relative;
    width: 100%;
    display: block;
  }
  #third .third-info{
    padding-right: 30px;
  }
  #third .item-wrap .item .item1{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 50%;
    height: 500px;
  }
  #third .item-wrap .item .item1 img{
    width: auto;
    height: 500px;
    display: inline-block;
    position: absolute;
  }
  #third .item-wrap .item .item1-txt{
    width: 50%;
    top: 57px;
    left: 50%;
    z-index: 100
  }
  #third .item-wrap .item2{
    display: flex;
    /* align-items: flex-start;
    justify-content: flex-start; */
    width: 100%;
    height: 500px;
  }

  #third .item-wrap .item2 .item2-txt{
    width: 50%;
    right: 50%;
  }
  #third .item-wrap .item2 .item2-img{
    width: auto;
    height: 500px;
    margin-top: 0;
    position: absolute;
    left: 50%;
    top: 33%;
  }
  #third .item-wrap .item2 .item2-img img{
    width: auto;
    height: 500px;
    margin-top: 0;
    z-index: 50;
  }
  #fourth .swiper-slide h3{
    font-size: 24px;
  }
  #fourth .swiper-slide p{
    font-size: 30px;
  }
  #fourth{
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and ( max-width: 1200px ) {
  #all-wrap{ width: 100%; }
  #second{ width: 100%; max-height: 1200px; }
  #second .second-menu{
    /* overflow: hidden; */
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
  }
  #second .second-menu .img1{
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 410px;
    max-width: 1200px;
    left: 10%;
    margin-left: 0;
    margin-top: 100px;
    margin-right: 40px;
  }
  #second .second-menu .img2{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 100px;
    left: 55%;
    bottom: 600px;
  }
  #second .second-menu .img3{
    position: relative;
    display: inline-block;
    width: 100%;
    bottom: 590px;
    left: 10%;
  }
  #second .second-menu .img4{
    position: relative;
    display: inline-block;
    width: 100%;
    bottom: 1090px;
    left: 55%;
  }
  #second .second-menu .menu1{
    margin: 30px;
    width: 100%;
    max-width: 360px;
  }
  #second .second-menu .menu1 .menu-top{
    display: block;
    margin-right: 20px;
  }
  #second .second-menu .menu1 .menu-top i{
    position: absolute;
    top: 5px;
    left: 95%;
  }
  #second .second-menu .menu1 .menu-btn span{
    width: 100%;
    max-width: 380px;
  }
  #third .third-info{
    padding-right: 40px;
  }
  #fourth{ margin-top: 0;}
  /* #five .main-insta .instaimg{
    width: 250px;
    height: 250px;
  } */
  #six{ max-width: 1200px;}
  #six .info-wrap .info-img img{
    width: 70%;
    max-width: 570px;
    height: 100%;
  }
  #six .info-wrap .info-text{
    margin-left: 50px;
  }
  #six .info-wrap .info-text .fw-400{
    font-size: 16px;
  }
  #six .info-wrap .info-text .fs-50{
    font-size: 40px;
  }
  #six .info-wrap .info-text p{
    font-size: 14px;
  }
  #six .info-wrap .info-icon .info-text{
    margin-left: 50px;
  }
  #footer .footer-wrap .footer-right{
    display: none;
  }
}

@media screen and ( max-width: 960px ) {
  #all-wrap{ width: 100%; }
  #main-content { height: 650px;}
  #first .first-sec h2{
    margin-left: 30px;
  }
  #first p:first-child{
    margin-left: 30px;
  }
  #first .first-sec .first-info p:nth-child(3){
    font-size: 15px;
    padding-left: 30px;
  }
  #first .first-sec .first-info p:nth-child(4){
    font-size: 12px;
    padding-left: 30px;
  }
  #first .first-sec{
    padding-right: 30px;
  }
  #second .second-menu .img1{
    left: 2%;
  }
  #second .second-menu .img2{
    left: 55%;
  }
  #second .second-menu .img3{
    left: 2%;
  }
  #second .second-menu .img4{
    left: 55%;
  }
  #third .item-wrap .item .item1-txt{
    padding-bottom: 78px;
  }
  #third .item-wrap .item2 .item2-img{
    top: 33%;
  }
  #six{
    min-height: 0;
  }
  #six .info-wrap .info-img{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  #six .info-wrap .info-text{
    width: 50%;
  }
  #six .info-wrap .info-text .fw-400{
    font-size: 14px;
  }
  #six .info-wrap .info-text .fs-50{
    font-size: 35px;
  }
  #six .info-wrap .info-text p{
    font-size: 12px;
  }
  #six .info-wrap .info-text span{
    font-size: 16px;
  }
}

@media screen and ( max-width: 770px ){
  #all-wrap{ width: 100%; }
  .pt-50{
    padding-top: 0;
  }
  #main-content { height: 600px;}
  #first .first-sec{
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #first{
    margin-bottom: 350px;
  }
  #first .first-img{
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
  #first .first-img .sec-img{
    position: absolute;
    width: 100%;
    margin-top: 40px;
  }
  #first .fs-18{
    position: relative;
    display: block;
    text-align: center;
  }
  #first .mt-20{
    position: relative;
    display: block;
  }
  #second{
    width: 100%;
    min-height: 1400px;
  }
  #second .second-menu{
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
  }
  #second .second-menu .img1{
    position: relative;
    width: 100%;
    height: 300px;
    margin-left: 0;
    bottom: 0;
    margin-top: 60px;
    left: 25%;
  }
  #second .second-menu .img2{
    width: 100%;
    height: 300px;
    left: 0%;
    bottom: 0;
    margin-top: 10px;
    left: 25%;
  }
  #second .second-menu .img3{
    width: 100%;
    height: 300px;
    left: 0%;
    bottom: 0;
    margin-top: 10px;
    left: 25%;
  }
  #second .second-menu .img4{
    width: 100%;
    height: 300px;
    left: 0%;
    bottom: 0;
    margin-top: 10px;
    left: 25%;
  }
}

@media screen and ( max-width: 480px ) {

}
