@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

#mainbg{
  position: relative;
  width: 100%;
  height: 700px;
  background: url("../img/menu/menu_benner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  overflow: hidden;
}

#mainbg .main-bg{
  width: 100%;
  display: block;
  text-align: center;
}
#mainbg .main-bg .main-text .fs-16{
  letter-spacing: 0.3em;
  color: white;
}
#mainbg .main-bg .main-text{
  width: 100%;
  min-height: 700px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#content{
  width: 100%;
  margin: 0 auto;
}

#main_aside{
  width: 100%;
  margin: 0 auto;
}

.button-wrap{
  width: 100%;
  background-color: white;
  position: relative;
  bottom: 60px;
}

.buttons{
  margin: 0 auto;
  height: 70px;
  line-height: 70px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
  color: #000000;
  font-weight: 500;
}

.buttons::before{
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #ccc;
}

.buttons::after{
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #ccc;
}
/* 탭 */

#content input:nth-of-type(1):checked ~ .button-wrap section.buttons label:nth-of-type(1){
  color: #c27a34;
}

#content input:nth-of-type(2):checked ~ .button-wrap section.buttons label:nth-of-type(2){
  color: #c27a34;
}

#content input:nth-of-type(3):checked ~ .button-wrap section.buttons label:nth-of-type(3){
  color: #c27a34;
}

#content input:nth-of-type(4):checked ~ .button-wrap section.buttons label:nth-of-type(4){
  color: #c27a34;
}

#content input{
  display: none;
}
/* 1번버튼 */
#content input:nth-of-type(1) ~ div:nth-of-type(2) { display: none; }
#content input:nth-of-type(1):checked ~ div:nth-of-type(2) { display: block; }
/* 2번버튼 */
#content input:nth-of-type(2) ~ div:nth-of-type(3) { display: none; }
#content input:nth-of-type(2):checked ~ div:nth-of-type(3) { display: block; }

#content input:nth-of-type(3) ~ div:nth-of-type(4) { display: none; }
#content input:nth-of-type(3):checked ~ div:nth-of-type(4) { display: block; }

#content input:nth-of-type(4) ~ div:nth-of-type(5) { display: none; }
#content input:nth-of-type(4):checked ~ div:nth-of-type(5) { display: block; }

label{
  cursor: pointer;
}
/* 컨텐츠 */

#main-aside{
  width: 100%;
  margin: 0 auto;
  background-color: #f1f1f8;
}

.tab-item{
  width: 100%;
  margin: 0 auto;
}

.tab-title{
  width: 100%;
  height: 200px;
}

.tab-title h2{
  text-align: center;
  line-height: 1.8;
  margin-top: 75px;
  color: #000000;
  font-weight: 400;
}

.lun-menu{
  width: 100%;
  max-width: 1600px;
  height: 850px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.lun-menu .lun-img{
  width: 800px;
  height: auto;
}

/* 런치 텍스트 공통 */

.lun-text{
  text-align: center;
  width: 800px;
  height: auto;
  background-color: white;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lun-text p:nth-child(3){
  padding-bottom: 40px;
}

.lun-text ul::before{
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #c27a34;
}

.lun-text ul li:first-child{
  margin-top: 40px;
}

.lun-text .montaga-font{
  color: #c27a34;
  margin-bottom: 5px;
}

.lun-text .fs-34{
  font-weight: bold;
  margin-bottom: 5px;
}

.lun-text li{
  margin-bottom: 15px;
  line-height: 1.3;
}

.lun-text li a{
  color: #000000;
  font-weight: bold;
}


/* 런치2 */

.lun-menu2{
  width: 100%;
  max-width: 1600px;
  height: 850px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin: 0 auto;
}

.lun-menu2 .lun-img{
  width: 800px;
  height: auto;
}

.lun-info{
  margin-top: 50px;
  padding-top: 80px;
  width: 100%;
  height: 400px;
  text-align: center;
  background: white;
}

.lun-info-text{
  line-height: 1.8;
}

.lun-icon img{
  width: 40px;
  height: auto;
}

.lun-icon{
  padding-bottom: 30px;
}

.lun-info-text p{
  margin-bottom: 10px;
  color: #000;
}

.lun-info-text p .fs-18{
  color: #666;
}

.lun-info2{
  width: 100%;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 100px;
}

.lunch-info2{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 0;
  border: 1px solid #ddd;
}

.season{
  padding-right: 100px;
  border-right: 1px solid #ddd;
}

.season p{
  color: #c27a34;
}

.season h3{
  color: #000;
  font-weight: 600;
  margin-top: 10px;
}

.lun-info2 ul{
  margin-left: 100px;
}

.lun-info2 li{
  margin-bottom: 10px;
}

.lun-info2 li::before{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #c27a34;
  margin-top: 8px;
}

.lun-info2 li a{
  color: #000;
  font-weight: 200;
  padding-left: 10px
}

.lun-info2 ul > p{
  margin-top: 15px;
  font-weight: 200;
  color: #666;
}

/* dinner */
.dinner-menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1600px;
  max-height: 1200px;
  overflow: hidden;
  margin: 0 auto;
}

.dinner-menu .dinner-img{
  width: 800px;
  height: 1200px;
}

.dinner-text{
  text-align: center;
  width: 800px;
  height: 1200px;
  background-color: white;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dinner-text p:first-child{
  color: #c27a34;
  margin-bottom: 5px;
}

.dinner-text h2{
  font-weight: bold;
  margin-bottom: 5px;
}

.dinner-text .fs-20{
  padding-bottom: 40px;
}

.dinner-menutxt{
  text-align: left;
  margin: 0 auto;
}

.dinner-menutxt span{
  color: #c27a34;
  position: absolute;
  margin-left: 140px;
  font-weight: bold;
}

.dinner-menutxt a{
  padding-left: 300px;
  color: #000;
  font-weight: bold;
}

.dinner-text ul::before{
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #c27a34;
  margin-left: 270px;
}

.dinner-menutxt li:first-child{
  margin-top: 50px;
}

.dinner-menutxt li{
  line-height: 2;
}

.dinner-menutxt li:nth-child(2){
  margin-bottom: 25px;
}

.dinner-menutxt li:nth-child(6){
  margin-bottom: 25px;
}

.dinner-menutxt li:nth-child(11){
  margin-bottom: 25px;
}

.dinner-menutxt li:nth-child(13){
  margin-bottom: 25px;
}

.dinner-menu2{
  width: 100%;
  text-align: center;
  min-height: 400px;
}

.dinner-menu2 p:first-child{
  color: #c27a34;
  margin-bottom: 5px;
  padding-top: 30px;
  margin-top: 130px;
}

.dinner-menu2 h2{
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
}

.dinner-menu2 .fs-20{
  color: #000000;
  padding-bottom: 50px;
}

.dinner-menu2 .fs-24{
  color: #000000;
  font-weight: 200;
  line-height: 1.8;
}


/* party */
.party{
  width: 100%;
  margin: 0 auto;
}

.party-main{
  width: 1600px;
  margin: 0 auto;
  background-color: white;
}

.party-main2{
  max-width: 1000px;
  margin: 0 auto;
}

.party-text{
  text-align: center;
  color: #000000;
}

.party-text h2{
  padding-top: 100px;
  margin-top: -10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.party-text p{
  padding-bottom: 30px;
}

.party-text p::after{
  content: '***';
  position: absolute;
  margin-top: 50px;
  left: 49.3%;
  color: #c27a34;
}

.party-text2{
  padding-top: 40px;
  text-align: center;
  color: #000000;
}

.party-text2 .fs-22{
  font-weight: 200;
  margin-bottom: 15px;
}

.party-text2 .fs-16{
  color: #666;
  margin-bottom: 60px;
}

.party-icon{
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.party-icon span{
  width: 84px;
  height: 84px;
}

.icon-size{
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.party-icon ul{
  display: flex;
  flex-wrap: wrap;
  flex: 3 auto;
}

.party-icon li{
  width: 280px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.party-icon p{
  color: #000000;
  font-weight: 600;
  line-height: 1.8;
}

.party-info{
  width: 100%;
  max-width: 1600px;
  background: white;
  margin: 0 auto;
  margin-top: 50px;
}

.party-info .papa{
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 300px;
}

.party-info .papa h2{
  width: 400px;
  font-weight: 600;
}

.party-info .papa li{
  display: block;
  position: relative;
  padding-left: 20px;
}

.party-info .papa li::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: #c27a34;
  z-index: 100;
  margin-top: 9px;
  left: 0;
}

.party-info .party1{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 40px;
}

.party-info .party2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}

.party-info .party3{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 80px;
}

.party-info2{
  width: 100%;
  text-align: center;
}

.party-custom .montaga-font{
  color: #c27a34;
  margin-bottom: 5px;
  padding-top: 80px;
}

.party-custom h2{
  color: #000000;
  font-weight: 600;
}

.party-custom .Montserrat-font{
  padding-bottom: 100px;
}

.party-custom .Montserrat-font::after{
  content: "***";
  color: #c27a34;
  position: absolute;
  margin-top: 60px;
  left: 49.3%;
}

.party-custom .Noto-font{
  color: #000;
  font-weight: 200;
  margin-bottom: 15px;
}

.party-custom .custom-img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  padding: 80px 0;
  margin: 0 auto;
}

.party-custom .custom1{
  width: 250px;
}

.party-custom .custom1 p{
  font-weight: 600;
  color: #000;
}

.wine-wrap{
  max-width: 1500px;
  margin: 0 auto;
}

.wine-title{
  text-align: center;
  height: 850px;
}

.wine-title .sig{
  color: #c27a34;
  letter-spacing: 0.3em;
  padding-top: 50px;
}

.wine-title .fs-52{
  color: #000;
  font-weight: 500;
  margin-bottom: 5px;
}

.wine-title .fs-20{
  color: #000;
  padding-bottom: 40px;
}

.wine-title .fs-20::after{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #c27a34;
  margin-top: 60px;
  left: 49.3%;
}

.wine-img{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.wine-img .wine1{
  height: 400px;
  width: auto;
  margin: 10px 15px;
}

.wine-img .wine1 .winepoto{
  width: 30%;
  height: 400px;
}

.wine-img .wine1 .winepoto img{
  height: 400px;
  width: auto;
}

.wine-img p{
  color: #000;
  font-weight: 500;
  margin-top: 30px;
  padding-bottom: 100px;
}

.wine-info{
  width: 100%;
  background: white;
  height: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wine-fee{
  width: 100%;
  max-width: 1500px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
  line-height: 120px;
  border: 1px solid #ccc;
}

.wine-fee .fs-30{
  padding-right: 40px;
  color: #000;
  font-weight: 500;
}

.wine-fee .fs-20{
  color: #000;
}
