@charset "UTF-8";

body{
  min-width: 1700px;
}

#all-wrap{
  width: 1700px;
  margin: 0 auto;
}

#all-wrap img{
  width: auto;
  max-width: 100%;
}

#header{
  position: fixed;
  z-index: 5000;
  width: 100%;
  top: 0;
  text-align: center;
  height: 130px;
  background: #fff;
}

#header .mainlogo{
  position: absolute;
  top: 40px;
  left: 0;
  max-width: 170px;
}

#header .mainlogo a{ display: block; }

#header .mainlogo img{
  width: auto;
  max-width: 100%;
  display: block;
}

#header #gnb{
  text-align: center;
}

#header #gnb ul{
  display: inline-block;
}

#header #gnb ul li{
  display: inline-block;
  padding: 0 43px;
}

#header #gnb ul li a{
  position: relative;
  padding: 48px 0;
  display: inline-block;
  font-size: 22px;
  color: #000;
}

#header #gnb ul li a::after{
  content: '';
  opacity: 0;
  background: #c27a34;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
}

#header #gnb ul li a:hover{
  color: #c27a34;
}

#header #gnb ul li a:hover::after{
  opacity: 1;
  left: 0;
  width: 100%;
}

#header #gnb ul li.on a{
  color: #c27a34;
}

#header #gnb ul li.on a::after{
  opacity: 1;
  left: 0;
  width: 100%;
}

#header .gnb_menu{
  position: absolute;
  top: 42px;
  right: 0;
  max-width: 1700px;
  padding-right: 73px;
}

#header .gnb_menu .all-btn, #header .gnb_menu .all-btn-m{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

#header .gnb_menu .all-btn-m{
  display: none;
}

#header.main.on .mainlogo{
  position: absolute;
  top: 40px;
  left: 0;
  max-width: 170px;
}

#header.main.on .mainlogo a{
  display: block;
  width: 170px;
  height: 60px;
  background: url(../img/logo_on.png) no-repeat left top;
  background-size: contain;
}

/* #header.main.on .mainlogo a img{
  display: none;
} */

/* #header.main.on #gnb ul li a{
  color: #fff;
} */

/* #header.main.on .gnb_menu .all-btn i.icon-menu, #header.main.on .gnb_menu .all-btn-m i.icon-menu{
  background-image: url(../img/icon_menu_main.png)
} */

#gnb-wrap{
  width: 100%;
  position: fixed;
  z-index: 4999;
  background: #fff;
  text-align: center;
  left: 0;
  top: 130px;
  display: none;
}

#gnb-wrap .gnb-wrap2{
  max-width: 1720px;
  position: relative;
  padding-left: 170px;
  padding-right: 170px;
}

#gnb-wrap .gnb-wrap2::after{
  display: block;
  content: '';
  clear: both;
}

#gnb-wrap .gnb-wrap2 > ul{
  display: inline-block;
}

#gnb-wrap .gnb-wrap2 > ul > li{
  display: inline-block;
  min-width: 80px;
  vertical-align: top;
  padding-top: 35px;
  padding-bottom: 20px;
}

#gnb-wrap .gnb-wrap2 > ul.submenu{
  position: relative;
}

#gnb-wrap .gnb-wrap2 > ul.submenu li{
  margin-bottom: 0.75em;
  position: relative;
  height: 1.8em;
}

#gnb-wrap .gnb-wrap2 > ul.submenu a{
  display: inline-block;
  padding-bottom: 0.15em;
  color: #666;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  position: absolute;
  left: 50%
}

#gnb-wrap .gnb-wrap2 > ul.submenu a::after{
  content: '';
  display: block;
  position: absolute;
  bottom: 0.1em;
  left: 50%;
  width: 0;
  height: 1px;
  background: #666;
}

#gnb-wrap .gnb-wrap2 > ul.submenu a:hover::after{
  left: 0;
  width: 100%;
}

#gnb-wrap .gnb-wrap > ul.submenu.on a{
  font-weight: 400;
}

#gnb-wrap .gnb-wrap > ul.submenu.on a:hover{
  color: #222;
}

#main-title{

}





/* 푸터영역 */
#footer{
  background: #383431;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 1700px;
  margin: 0 auto;
}

#footer .footer_wrap{
  position: relative;
}

#footer .footer_info{
  position: relative;
  background: url(../img/logo_f.png) no-repeat left top;
  background-size: auto;
  color: #b1b7bd;
  padding-left: 462px;
  padding-right: 300px;
  padding-bottom: 20px;
  font-weight: 200;
  word-break: keep-all;
}

#footer .footer_info .f-color-1{
  color: #cec0b5;
}

#footer .footer_info .f-color-2{
  color: #aa988a;
}

#footer .footer_info .copyright{
  color: #786659;
}

#footer .footer_info .footer-right{
  position: absolute;
  top: 0;
  right: 0;
  width: 365px;
}

#footer .footer_info .footer-right .fr-btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: #55514d;
}

#footer .footer_info .footer-right .fr-a{
  display: inline-block;
  vertical-align: middle;
  width: 50px;
}

#footer .footer_info .footer-right .fr-btn i{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  width: 100%;
  padding-right: 25px;
}

#footer .footer_info .footer-right .family-site{
  display: inline-block;
  margin: 0 10px;
  position: relative;
  width: 200px;
  vertical-align: middle;
}

#footer .footer_info .footer-right .family-site a{
  color: #fff;
  position: relative;
  height: 50px;
  display: block;
}

#footer .footer_info .footer-right .family-site a span{
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
}

#footer .footer_info .footer-right .family-site .fs-btn{
  display: block;
  border-radius: 10px;
  font-weight: 400;
  padding-right: 45px;
  background: #c27a34 url(../img/icon_fad.png) no-repeat left top;
  background-size: auto;
  background-position: 155px center;
}

#footer .footer_info .footer-right .family-site .family-site-box{
  display: none;
  width: 100%;
  position: absolute;
  background: #c27a34;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

#footer .footer_info .footer-right .family-site .family-site-box li{
  display: block;
  width: 100%;
}

#footer .footer_info .footer-right .family-site .family-site-box li a{
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

#footer .footer_info .footer-right .family-site .family-site-box li a:hover{
  background: rgba(0, 0, 0, 0.2);
}

#footer .footer_info .footer-right .family-site .family-site-box.on .fs-btn{
  border-radius: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: url(../img/icon_fau.png);
}
